@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600;700&display=swap');

// Global Variables
$color-background: #f7f8fd;
$color-text: #3a4374;
$color-button-text: #4661e6;

// Mixin for Media Queries mobile first (Tailwind style)
$breakpoints: (
	sm: '640px',
	md: '768px',
	lg: '1024px',
	xl: '1280px',
);

@mixin mq($key) {
	$size: map.get($breakpoints, $key);
	@media (min-width: $size) {
		@content;
	}
}

// Reusable Utilitiy Classes
.is-block {
	margin-bottom: 2rem;
}

.is-rounded {
	border-radius: 1rem;
}

.card {
	width: 100%;
	color: $color-text;
	background: white;
	padding: 2rem;
	min-height: 1rem;
}

.button {
	display: inline-block;
	font-size: 1.4rem;
	background-color: $color-background;
	color: $color-button-text;
	border-radius: 0.8rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	padding: 0.5rem 1.2rem;
	text-transform: capitalize;

	&--active {
		background: $color-button-text;
		color: $color-background;
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Resize Rem units to = 10px
html {
	font-size: 62.5%;
}

body {
	font-family: 'Jost', sans-serif;
	color: $color-text;
	background: $color-background;
}

// a,
// a:visited,
// a:focus {

// }

// Temporary partials while I try to figure out how to modularize scss in Next
@import '../pages/index.scss';
@import '../components/Navigation/Navigation.module.scss';
@import '../components/RoadMap/RoadMap.scss';
@import '../components/TheHeader/TheHeader.module.scss';
