.container {
	display: grid;
	margin: 0 auto;
	max-width: 1200px;
	grid-template-columns: 1fr;
	grid-template-areas:
		'Navigation'
		'TopBar'
		'Suggestion';

	@include mq('md') {
		column-gap: 3rem;
		grid-template-columns: repeat(3, 1fr);
		padding: 5rem 10rem;
		grid-template-areas:
			'TheHeader Tags Roadmap'
			'TopBar TopBar TopBar'
			'Suggestion Suggestion Suggestion';
	}
	@include mq('xl') {
		grid-template-areas:
			'TheHeader TopBar TopBar'
			'TheHeader Suggestion Suggestion'
			'Tags Suggestion Suggestion'
			'Roadmap Suggestion Suggestion';
	}
}

.TheHeader,
.Tags,
.Roadmap {
	display: none;
	@include mq('md') {
		display: block;
	}
}

.Navigation {
	grid-area: Navigation;
}

.TheHeader {
	grid-area: TheHeader;
}

.Tags {
	grid-area: Tags;
}

.Roadmap {
	grid-area: Roadmap;
}

.TopBar {
	grid-area: TopBar;
}

.Suggestion {
	padding: 0 2rem;
	grid-area: Suggestion;
	@include mq(md) {
		padding: 0;
	}
}
