.nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	background-image: url(https://hopeful-murdock-83580e.netlify.app/img/background-header.254059f1.png);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;

	&__title {
		font-size: 1.6rem;
		font-weight: 500;
	}
	&__sub-title {
		font-size: 1.2rem;
	}
	&__menu {
		font-size: 3rem;
		cursor: pointer;
	}
	&__items {
		position: absolute;
		top: 100%;
		left: 40%;
		width: 60%;
		height: 100vh;

		gap: 1rem;

		padding: 3rem 2rem;
		background: $color-background;
	}
	&__overlay {
		position: absolute;
		top: 100%;
		left: 0;
		width: 40%;
		height: 100vh;
		background: rgba(0, 0, 0, 0.4);
	}
	// @include mq('sm') {
	// 	display: none;
	// }
}
