.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	background-image: url(https://hopeful-murdock-83580e.netlify.app/img/background-header.254059f1.png);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	&__title {
		font-size: 1.6rem;
		font-weight: 500;
	}
	&__sub-title {
		font-size: 1.2rem;
	}
	&__menu {
		font-size: 3rem;
	}
}
